registry=https://pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/registry/:username=shahenvaz
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/registry/:_password=cHR1NXpuY2dycWdzM3pnZWp6eXVjcG5kc2xseTV4emd1am93Zm4yc3F0ZDd3eHV2ZG9mYQ==
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/registry/:email=ska78657@gmail.com
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/:username=shahenvaz
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/:_password=cHR1NXpuY2dycWdzM3pnZWp6eXVjcG5kc2xseTV4emd1am93Zm4yc3F0ZDd3eHV2ZG9mYQ==
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/:email=ska78657@gmail.com
; end auth token
