registry=https://pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/registry/:username=shahenvaz
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/registry/:_password=Z2w1anBrYjdlcWc2eHp1dG15cm1ibTNrNmg1a3E2eXduN2p5dnZzZGJ1bGZia3lxeXlxcQ==
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/registry/:email=ska78657@gmail.com
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/:username=shahenvaz
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/:_password=Z2w1anBrYjdlcWc2eHp1dG15cm1ibTNrNmg1a3E2eXduN2p5dnZzZGJ1bGZia3lxeXlxcQ==
//pkgs.dev.azure.com/shahenvaz/_packaging/shahenvaz/npm/:email=ska78657@gmail.com
; end auth token
